.main {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.75rem;
  transition: scale 100ms ease;
}

.buttonShadow {
  box-shadow: 0px 9px 10px rgba(255, 125, 26, 0.3);
}

@media (hover: hover) {
  .main:hover {
    opacity: 0.75;
  }
}
.main:active {
  scale: 0.95;
  opacity: 0.9;
}

.small {
  width: 15.625rem;
  height: 3.5625rem;
}
.large {
  width: 20.625rem;
  height: 3.5625rem;
}
.add-to-cart-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.add-to-cart-div img {
  width: 1.11rem;
  height: 1.023rem;
}
.add-to-cart-div p {
  color: var(--white) !important;
}

.checkout {
  width: 19.6875rem;
  height: 3.125rem;
}

@media (max-width: 768px) {
  .full-width {
    width: 100%;
  }
}
