* {
  /* outline: 1px solid red; */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}
:root {
  /* COLORS */
  --orange: #ff7d1a;
  --orange-pale: #ffede0;
  --grey: #68707d;
  --grey-dark: #404040;
  --black: #1d2025;
  --white: #ffffff;

  /* FONT WEIGHT */
  --regular: 400;
  --bold: 700;
}
html,
body {
  overflow-x: hidden !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
.no-scroll {
  overflow: hidden;
}
#modal {
  position: absolute;
  z-index: 100;
}
h1,
h2,
p {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: var(--regular);
}
h1,
h2 {
  font-weight: var(--bold);
}

h1 {
  font-size: 2.75rem;
  line-height: 1.1;
}
h2 {
  font-size: 0.875rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}

button {
  border: unset;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li a {
  text-decoration: none;
  font-family: "Kumbh Sans", sans-serif;
}

.full-width {
  width: 100% !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  p {
    font-size: 1rem;
  }
}
