.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 27.75rem;
  position: relative;
  left: 3rem;
  background-color: transparent;
}
.carousel ul {
  display: flex;
  justify-content: space-between;
}

.main button {
  padding: 0;
}

.arrows {
  position: absolute;
  display: flex;
  width: 92%;
  height: fit-content !important;
  justify-content: space-between;
  padding: 0 !important;
}

.mobile-images {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;
  overflow: hidden;
}
.mobile-img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.mobile-images > div {
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .main {
    position: relative;
    left: 0rem;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
    display: grid;
    place-items: center;
  }
}
